* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #000;
}

.container {
    width: 31.25rem;
    background-color: white;
    padding: 5em 3.75em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.7em;
    box-shadow: 0 1em 4em rgba(71, 50 ,4 , 0.3);
}

input,
#submit {
    border: none;
    outline: none;
    display: block;
}

input {
    width: 100%;
    background-color: transparent;
    margin-bottom: 2em;
    padding: 1em 0 0.5 0.5em;
    border-bottom: 2px solid black;
}

#submit {
    position: relative;
    left: 0;
    font-size: 1.1em;
    width: 7em;
    background-color: orange;
    padding: 0.8em 0;
    margin-top: 2em;
    border-radius: 0.5em;
}

#message-ref{
    font-size: 0.9em;
    margin-top: 1.5em;
    color: green;
    visibility: hidden;
}

.notice {
    margin-left: 5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-size: medium;
    color: black;
    font-style: italic;
    font-weight: bold;
    height: 3rem;
    width: 80%;
}